* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
body{
width: 100%;
height: 100%;
}

/* HEADER PART STARTS HERE*/

.header{
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
  width:100%;
  text-decoration: none;
}
.logo{
float: left;
text-decoration: none;
width: 50%;
}
.menubar{
  background-color: #ffff;
  text-align: center;
  height: 10vh;
  z-index: 999;
}
.menubar ul{
  display: inline-flex;
  list-style: none;
  color: #b313f4;
}
.menubar ul li{
  width: 50%;
  font-size: 120%;
  margin: 5px;
  padding:10px;
}
.menubar ul li a{
  text-decoration: none;
  color: #c212df;
}
.menubar ul li:hover{
  background: #c8a4de ;
}

/* HEADER PART ENDS HERE*/

/* SLIDER PART START HERE*/

/* SLIDER PART ENDS HERE*/
